body {
    background-color: #141414;
}

#mordekas {
    width: 60%;
}

h1 {
    font-size: 60px; text-align: center; color: #F0E6D2
}

h2 {
    font-size: 18px; text-align: center; color: #C8AA6E
}

p {
    text-align: center;
     font-size: 18px;
     color:#F0E6D2
}
